<div class="container mt-4">
    <div class="row d-flex justify-content-center m-2">

      


  
  
  <div class="col-6 col-sm-6 col-lg-3 mb-2 mt-2 p-1" *ngFor="let item of itemList">
  <div class="card" >
     <img src="../../../assets/61050397.jpg" class="card-img-top img-fluid" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Samosa</h5>
        <div class="content mt-1 mb-4" style="height: 20px;">
          
          <p class="card-text mb-4 text-danger">Discount 10%</p>
        </div>
        <div class="btnAdd d-flex justify-content-between" style="margin-top: 20px;">
          <div class="aadto">
            <a href="#" class="btn btn-success"  routerLink="cart">Add To Cart</a>
          </div>
          
          <div class="price ">
            <p class="text-success mt-2"> ₹ 15</p>
          </div>
                     
                    </div>
      </div>
    </div>
</div>




  



</div>

</div>